# === Java & Gradle ===
/build/
/.gradle/
*.class
*.jar
!gradle/wrapper/gradle-wrapper.jar
*.war
*.log

# === IntelliJ IDEA ===
.idea/
*.iml
*.ipr
*.iws
out/

# === OS ===
.DS_Store
Thumbs.db

# === Docker ===
*.tar
*.img
docker-compose.override.yml